* {
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: auto;
    font-family: "Roboto Flex", sans-serif;
}

h1, h2, h3 {
    color: midnightblue;
    margin: 10px 0;
}

a {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
}

address {
    font-style: normal;
    margin: 20px 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* divider that looks like <hr>*/
.divider {
    margin: 0.5em 0;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.time {
    font-size: initial;
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

.content {
    font-size: initial;
    display: inline-block;
    width: 80%;
}

.skills {
    margin-left: 20%;
}

.skills ul {
    list-style: none;
}

li {
    padding: 0;
    margin: 10px 0;
}

ul {
    padding: 0 15px;
    margin: 10px 0;
}

.no-text {
    font-size: 0;
    margin: 10px 0;
}
